spring:
  cloud:
    nacos:
      config:
        server-addr: 192.168.22.212:8848
        import-check:
          enabled: false
      discovery:
        server-addr: 192.168.22.212:8848

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: "*"