spring:
  application:
    name: config-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: "*"